html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
    box-sizing: border-box;
	/*border:0;
	*/
    /*outline:0;
	*/
    /*font-size:100%;
	vertical-align:baseline;
	background:transparent;
	*/
}
h1,h2,h3,h4,h5,h6,em,i {
	font-weight:100;
	font-style:normal;
}
ul,ol,li {
	list-style-type:none;
}
a {
	color:#666;
	text-decoration:none;
	outline:0;
}
a:hover {
	text-decoration:none;
}


.site-content{
    width: 90%;
    margin: 0 auto;
    position: relative;
    max-width: 1024px;
}

.header-warp{
    height: 70px;
    width: 100%;
    display: flex;
    position: relative;
}
.footer-warp{
    height: 200px;
    width: 100%;

}

.header-logo{
    width: 130px;
    height: 100%;
}

.header-logo > a{
    display: flex;
    align-items: center;
    height: 100%;
}

.header-logo img{
    width: 100%;
}

.header-warp .menu-list{
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 13px;
}

.menu-list > li {
    float: left;
    padding: 0 10px;
}
.mobile-menu-btn{
    display: none;
    position: relative;
    cursor: pointer;
}
.mobile-menu-btn > img {
    width: 20px;
    height: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main-propaganda{
    width: 100%;
}

.img-text{
    position: relative;
}
.img-text > a{
    width: 100%;
    height: 100%;
    display: block;
}
.img-text img{
    /* width: 100%;
    height: 420px;
    object-fit: cover; */
    max-width: 100%;
    height: auto;
    width /***/: auto;
    border: 0;
    vertical-align: middle;
}
.img-text .it-copy{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 18px;
    font-weight: bold;
    color: #fff
}

.main-info{
    margin-top: 15px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.main-info > .img-text{
    width: 25%;
    float: left;
    padding: 10px 10px 0 10px;
}

.main-info > .img-text:first-child{
    padding-left: 0;
    padding-right: 20px;
} 
.main-info > .img-text:last-child{
    padding-left: 20px;
    padding-right: 0;
} 

.section{
    margin-top: 15px;
}

.section .title{
    display: flex;
    font-size: 14px;
}
.section .title h1{
    color: #333;
    font-weight: bold;
    flex: 1;
    line-height: 45px;
}

.more{
    position: relative;
    width: 45px;
    line-height: 45px;
}

.more::before{
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    width: 7px;
    height: 7px;
    margin: -5px -5px 0 0;
    border-top: solid 1px #7f7f7f;
    border-right: solid 1px #7f7f7f;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
}

.section ul{
    display: flex;
}

.section ul > li{
    flex: 1;
}

.section ul > li:first-child{
    padding-right: 10px;
}

.section ul > li:nth-child(2){
    padding:0 5px;
}

.section ul > li:last-child{
    padding-left: 10px;
}

.section .section-news{
    display: unset;
}

.section .section-news li{
    padding: 5px 0 !important;
}

.section .section-news li .news-date{
    font-size: small;
    color: #999;
}
.section .section-news li .news-con{
    color: #666;
}