html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
    box-sizing: border-box;
	/*border:0;
	*/
    /*outline:0;
	*/
    /*font-size:100%;
	vertical-align:baseline;
	background:transparent;
	*/
}
h1,h2,h3,h4,h5,h6,em,i {
	font-weight:100;
	font-style:normal;
}
ul,ol,li {
	list-style-type:none;
}
a {
	color:#666;
	text-decoration:none;
	outline:0;
    cursor: pointer;
}
a:hover {
	text-decoration:none;
}

.sticky{
    position: fixed !important;
    top: 0;
    animation: 800ms ease-in-out 0s normal none 1 running slideInDown;
}

@keyframes slideInDown{
    0% {
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}
.w1024{
    max-width: 1024px;
    margin:0 auto;
}
.site-content{
    width: 90%;
    margin: 0 auto;
    position: relative;
    max-width: 1024px;
}

.header-warp{
    height: 70px;
    width: 100%;
    display: flex;
    position: relative;
}
.footer-warp{
    width: 100%;
    background-color: #000;
}

.header-logo{
    width: 130px;
    height: 100%;
}

.header-logo > a{
    display: flex;
    align-items: center;
    height: 100%;
}

.header-logo img{
    width: 100%;
}

.header-warp .menu-list{
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 13px;
}

.menu-list > li {
    float: left;
    padding: 0 10px;
}
.mobile-menu-btn{
    display: none;
    position: relative;
    cursor: pointer;
}
.mobile-menu-btn > img {
    width: 20px;
    height: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main-propaganda{
    width: 100%;
}

.img-text{
    position: relative;
}
.img-text > a{
    width: 100%;
    height: 100%;
    display: block;
}
.img-text img{
    max-width: 100%;
    height: auto;
    width /***/: auto;
    border: 0;
    vertical-align: middle;
}
.common-img{
    max-width: 100%;
    height: auto;
    width /***/: auto;
    border: 0;
    vertical-align: middle;
}
.common-a{
    width: 100%;
    height: 100%;
    display: block;
}
.img-text .it-copy{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 18px;
    font-weight: bold;
    color: #fff
}

.main-info{
    margin-top: 15px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.main-info > .img-text{
    width: 25%;
    float: left;
    padding: 10px 10px 0 10px;
}

.main-info > .img-text:first-child{
    padding-left: 0;
    padding-right: 20px;
} 
.main-info > .img-text:last-child{
    padding-left: 20px;
    padding-right: 0;
} 

.section{
    margin-top: 15px;
}

.section .title{
    display: flex;
    font-size: 14px;
}
.section .title h1{
    color: #333;
    font-weight: bold;
    flex: 1;
    line-height: 45px;
}

.more{
    position: relative;
    width: 45px;
    line-height: 45px;
}

.more::before{
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    width: 7px;
    height: 7px;
    margin: -5px -5px 0 0;
    border-top: solid 1px #7f7f7f;
    border-right: solid 1px #7f7f7f;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
}

.section ul{
    display: flex;
}

.section ul > li{
    flex: 1;
}

.section ul > li:first-child{
    padding-right: 10px;
}

.section ul > li:nth-child(2){
    padding:0 5px;
}

.section ul > li:last-child{
    padding-left: 10px;
}

.section .section-news{
    display: block !important;
    margin-bottom: 20px;
}

.section .section-news li{
    padding: 7px 0 !important;
}

.section .section-news li .news-date{
    font-size: small;
    color: #999;
    margin-bottom: 7px;
}
.section .section-news li .news-con{
    color: #666;
}

.footer-contier{
    margin: 0 auto;
    position: relative;
    max-width: 1024px;
    color: #fff;
}

.copyright{
    font-size: 13px;
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #8b8b8b;
}
.copyright > p{
    padding: 5px 0;
} 
.c-keep{
    padding-top: 5px;
}

.contier-link{
    display: flex;
    flex-direction: column;
}

.brief{
    flex:1;
    padding: 15px 0;

}

.brief-ul {
    padding-top: 15px;
    width: 390px;
    min-width: 390px;
    margin: auto;
    display: flex;
}

.brief-ul>li{
    flex: 1;
    text-align: center;
    border-right: 2px solid #666;
    line-height: 1;
}

.brief-ul>li:last-child{
    border-right: 0;
}

.brief-ul >li >a{
    color: #fff;
}

.brief img{
    width: 150px;

}
.brief > p{
    text-align: justify;
    text-indent: 1em;
    font-size: 14px;
    color: #666;
    /* width: 70%; */
}

.brief-title{
    font-size: 18px;
}

.section-more{
    padding: 30px 0;
    text-align: center;
    color: #000;
}

.section-more > h2{
    font-weight: bold;
    margin-bottom: 15px;
}

.section-more > p{
    text-align: justify;
    font-size: 13px;
    max-width: 505px;
    margin: auto;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: bold;
}
.section-more span{
    color:#aaa;
    font-size: 12px;
}

.more-a{
    position: relative;
    width: 45px;
    line-height: 45px;
}

.more-a::before{
    display: block;
    position: absolute;
    top: 60%;
    right: -5px;
    width: 7px;
    height: 7px;
    margin: -5px -5px 0 0;
    border-top: solid 1px #7f7f7f;
    border-right: solid 1px #7f7f7f;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
}

.li-active{
    position: relative;
    
}

.li-active::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 2px;
    background: black;
}

.w-100{
    width: 100%;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}

.c-block{
    overflow: hidden;
}

.c-block__text{
    background: #f2f2f2;
    padding: 77px 63px;
    width: 490px;
}
.c-block__image{
    position: relative;
    width: calc(100% - 490px);
}

.hr{
    margin: 50px 0;
    width: 100%;
    height: 1px;
    position: relative;
}
.hr::after{
    content: "";
    position: absolute;
    left: 50%;
    width: 20px;
    transform: translateX(-50%);
    height: 2px;
    background: #000;
}


.bg-img-s{
    width: 100%;
    height: 780px;
    background: url('../images/heart_main_42.jpg') no-repeat;

}

.mobil-menu{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000b5;
    text-align: center;
}
.mobil-menu li{
    padding: 10px 0;
}


/* 
.content-min p{
    text-align: center;
    font-family: 华文楷体;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 17px;
    line-height: 30px;
}


.people-name{
    text-align: center;
    margin-top: 130px;
    margin-bottom: 500px;
}
strong{
    float: center;
    font-family: 华文宋体;
    line-height: 50px;
}
.people-content{
    text-align: center;
    font-family: 华文宋体;
    line-height: 40px;
}
.people1 hr{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 60%;
    color: #7f7f7f;
}
.people-content1{
    text-align: center;
    font-family: 华文宋体;
    line-height: 20px;
}
.people1{
    margin-bottom: 15px;
    font-weight: bold;
} */