.header{
    position: relative;   
}

.custom .site-content{
    width: 100%;
    margin: unset;
    max-width: unset;
    background: rgba(0,0,0,.2);
    z-index: 2;
}

.custom .site-content a{
    color: #fff;
}

.custom .header-warp .menu-list{
    font-size: 15px;
}

.custom .header-warp{
    max-width: 1024px;
    width: 90%;
    margin: auto;
    height: 90px;
}

.custom .mobil-menu{
    display: none;
    background: #00000054;
    top: 90px;
}
.custom .mobil-menu li a{
    color: #fff;
}

.custom .mobil-menu .li-active::after{
    bottom: 5px;
}
.custom-menu.mobil-menu{
    background: #00000054;
}
.custom-menu li a{
    color: #fff;
}

.margin-90{
    margin-top: -90px;
}
.bg-img,.swiper-slide-box{
    width: 100%;
    height: auto;
    display: block;
}

.bg-img img,.swiper-slide-box img{
    display: block;
    width: 100%;
    object-fit: cover;
}

.li-active{
    position: relative;
    
}

.li-active::after{
    content: "";
    position: absolute;
    bottom: 31px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 2px;
    background: #fff;
}

.swiper-button-next, .swiper-button-prev{
    color: #ddd !important;
}
.swiper-pagination-bullets .swiper-pagination-bullet-active{
    background: #ddd;
}

.mask{
    
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #000;
}