
@media screen and (max-width: 480px){
    .site-content,.footer-contier,.w1024 {
        width: 100% !important;
    }
    .main-info > .img-text{
        width: 100% !important;
        padding: 0 !important;
        margin-top: 5px;
    }
    .main-info{
        margin-top: 0;
    }
    .section .title{
        margin-left: 15px;
    }
    .section .section-news{
        margin-left: 15px;
        display: block !important;
    }
    .footer-contier{
        padding: 0 15px;
    }
    .brief > p{
        width: 100% !important;
    }
    /* .brief:last-child{
        text-align: center;
    } */

    .compant-tip{
        flex-direction: column;
    }
    .compant-tip .company-img{
        flex:1;
        width: 100%;
    }

    .compant-tip .company-img .bottom-img{
        position: unset;
    }
    
}

@media screen and (max-width: 767px){
    .section ul{
        display: unset !important;
    }
    .section ul > li{
        padding: 0 !important;
        margin-top: 5px;
    }

    .team-ul .team-li{
        flex-direction: column;
        text-align: center ;
    }
    .team-ul .team-li .head{
        width: 100%;
    }
    .team-ul .text-right{
        flex-direction: column-reverse;
    }

}

@media screen and (max-width: 920px){

}

@media screen and (max-width: 1060px){
    .site-content,.footer-contier,.w1024 {
        width: 95%;
    }
    .header-warp{
        width: 90%;
        margin: auto;
    }
    .mobile-menu-btn{
        display: block;
    }
    .menu-list{
        display: none !important;
    }
    .header-logo{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .main-info > .img-text{
        width: 50%;
    }
    .main-info > .img-text:first-child{
        padding-left: 0;
        padding-right: 10px;
    } 
    .main-info > .img-text:last-child{
        padding-left: 10px;
        padding-right: 0;
    } 
    .main-info > .img-text:nth-child(3){
        padding-left: 0;
        padding-right: 10px;
    } 
    .main-info > .img-text:nth-child(2){
        padding-left: 10px;
        padding-right: 0;
    } 

    .c-left-block .c-block{
        display: unset;
    }
    .c-left-block .c-block .c-block__image{
        width: 100%;
    }
    .c-left-block .c-block .c-block__text{
        width: 100%;
    }
}

@media screen and (min-width: 1061px){
    .mobil-menu{
        display: none !important;
    }
}